<div class="field-container">
  <label for="strategySelect">Placement Strategy</label>
  <select name="strategySelect" id="strategySelect" [(ngModel)]="strategy">
    <option value="default">Default</option>
    <option value="considerKeepingCurrentPlacement">
      Consider Keeping Current Placement Strategy
    </option>
  </select>
</div>

<div class="field-container">
  <label for="placementSelect">Tooltip Placement</label>
  <select name="placementSelect" id="placementSelect" [(ngModel)]="placement">
    <option value="top-start">top-start</option>
    <option value="top">top</option>
    <option value="top-end">top-end</option>
    <option value="bottom-start">bottom-start</option>
    <option value="bottom">bottom</option>
    <option value="bottom-end">bottom-end</option>
    <option value="left-start">left-start</option>
    <option value="left">left</option>
    <option value="left-end">left-end</option>
    <option value="right-start">right-start</option>
    <option value="right">right</option>
    <option value="right-end">right-end</option>
  </select>
</div>

<div class="example-tooltip-container">
  <app-basic-tooltip
    [scrollableContainer]="scrollableContainerElement()"
    [placementStrategy]="strategy()"
    [preferredPlacement]="placement()"
    [triggerActions]="['click']"
    [arrow]="true"
  >
    <button class="relative-element">Click me</button>
    <span class="message">
      Scroll to right/left or top/bottom to see how the strategy works. Scroll
      to right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works.Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works.Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works.Scroll to
      right/left or top/bottom to see how the strategy works. Scroll to
      right/left or top/bottom to see how the strategy works.
    </span>
  </app-basic-tooltip>
</div>
